# macOS system files
.DS_Store
**/.DS_Store

# Ignore all executables (files with no extension)
*
!*/
!*.*

# Don't ignore Doxyfile
!docs/Doxyfile

# Build directory
/build/
/out/
/bin/
/dist/

# CMake files
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# CLion (JetBrains) files
.idea/
cmake-build-debug/
cmake-build-release/

# VS Code settings & extensions
.vscode/
*.code-workspace

# Logs & Debugging files
*.log
*.cache
*.swp
*.swo
*.bak
