BasedOnStyle: LLVM

# Indentation & Alignment
IndentWidth: 4
TabWidth: 4
UseTab: Never
ContinuationIndentWidth: 8
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignOperands: true
AlignTrailingComments: true

# Braces
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeElse: false
  IndentBraces: false

# Function Arguments & Calls
BinPackArguments: true
BinPackParameters: true
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

# If Statements & Conditionals
AllowShortIfStatementsOnASingleLine: false

# Namespace & Includes
IndentExternBlock: AfterExternBlock
SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<.*\.h>'
    Priority: 1
  - Regex: '^"'
    Priority: 2
  - Regex: '.*'
    Priority: 3

# Line Wrapping
ColumnLimit: 150
PenaltyBreakString: 150
ReflowComments: false

# Miscellaneous
SpaceAfterCStyleCast: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
Cpp11BracedListStyle: true
AllowShortFunctionsOnASingleLine: None

# Penalty for Excess Characters
PenaltyExcessCharacter: 120
